
.footer {
    background: rgba(0, 0, 0, 0.29);    
    height: 120px;
    z-index : 1;
    border: none;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    width: 100%;
}

.info-text { 
    display: inline-block;
    align-items: center;
    color: white;
    padding: 30px;
    text-align: center;
}

