.home {
  div {
    padding: none;
  }
  h1 {
    color: rgb(250, 252, 252); 
  }
  h3{
    color: rgb(111, 75, 13);
  }
  h4 {
    color: white;
  }
  img {
    position: relative;
  }
  ul {
    color: white;
  }
}
.glyph {
  color: white;
  text-align: center;
}
.section1 {
  text-align: center;
  height: 650px;
  // background-color: darkolivegreen; 
}
.section2 {
  height: 700px;
   background-color: orange;
   margin-top:0!important; 
   
   h4, h2, {

     text-align: center;
   }
   
 }
.section3 {
  height: 750px;
   background-color: rgb(61, 218, 53);
   margin-top:0!important; 
 }


.modal-container .modal .modal-container .modal-backdrop {
  position: absolute;
}
.ligthbulb,.flower {
  z-index: 3;
}
.flower{
  padding-top: 400px;
  padding-left: 50px;
}
.step-list {
  color: rgb(255, 255, 255);
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  line-height: 32px;
  
  
}
.easy-text {
  padding-bottom: 35px;
  font-family: 'Sanchez', serif;
  color: rgb(97, 78, 45);
  font-size: 90px;
}

.lg-nums {
  font-family: 'Sanchez', serif;
  color: rgb(97, 78, 45);
  font-size: 90px;
  
}
.sec3-tagline{
  
}