.modal-container .modal .modal-container .modal-backdrop {
    position: absolute;
  }
  .modal-container{
    //   float: right;
    text-align: center;
      height: 50px;
      padding-top: 2px;
  }
  .modal { 
      text-align: left; 
    }
    
    
    
      h1,#userModTitle {
      color: orange;
    }
    h4,#userModBody{ 
           color: rgb(85, 60, 17)
    }

  form {
      .soil,.seed{
          color: rgb(67, 49, 18);
        }
        
    }

    .hide {
      display: none;
    }
