 body{
    background-color: #3B2F1A;
}
h1{
    font-family: 'Patrick Hand', cursive;
}
h4 {
    font-family: 'Patrick Hand', cursive;
}
h3{
    font-family: 'Sanchez', serif;
}
ul {
    font-family: 'Patrick Hand', cursive;
}

/* font-family: 'Itim', cursive;
font-family: 'Delius', cursive;
font-family: 'Patrick Hand', cursive; 
font-family: 'Sanchez', serif;

*/


/* footer {
    background: rgba(0, 0, 0, 0.29);
    height: 180px;
    z-index : -1;
    border: none;
    text-align: center;
    color: white;
    line-height: auto;
} */

