 body{
    background-color: #3B2F1A;
}
h1{
    font-family: 'Patrick Hand', cursive;
}
h4 {
    font-family: 'Patrick Hand', cursive;
}
h3{
    font-family: 'Sanchez', serif;
}
ul {
    font-family: 'Patrick Hand', cursive;
}
