 body{
    background-color: #3B2F1A;
}


/* footer {
    background: rgba(0, 0, 0, 0.29);
    height: 180px;
    z-index : -1;
    border: none;
    text-align: center;
    color: white;
    line-height: auto;
} */

