.btn-sign-up,.get-started {
    color: rgb(255, 255, 255);
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 25px;
    background-color: #f2a83c;
    vertical-align: center;
    font-family: helvetica;
    
}
.btn-sign-in {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0);
}

.btn-sign-in :hover {
    background-color: white;
}

.header {
    background: rgba(0, 0, 0, 0.29);
    height: 80px;
    z-index : 1;
    border: none;
}

.logon-btn {
    padding-top: 40px;
}